<main>
  <%= form_with(url: login_path, scope: :session, local: true, html: {class: 'login-form flex-center', id: 'login-form'}) do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %>
  <% end %>
    
  <%= link_to 'Don\'t have an account?', signup_path, class: "signup-link" %>
</main>