<%= form_with(model: user, local: true, html: { class: 'login-form', id: 'signup-form' }) do |form| %>
  <%= errors(user) %>

  <div class="actions">
    <%= form.file_field :avatar, class: 'file_field' %>
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>
<% end %>
