<main class="profile">
    <% @users.each do |user| %>
      <div class="user_card">
        <div class="flex-ai">
          <div class="avatar_list" style="background-image: url(<%= avatar_url_swap(user) %>);
          opacity: <%= opacity_def(user)  %>"></div>
          <p><%= user.name %></p>
        </div>
        <div  class="flex-ai flex-end">
          <div>
            <span>Time Spent:</span> 
            <span class="green"><%= user.projects.sum(:time_spent) %></span> 
          </div>
        </div>
      </div>
    <% end %>
</main>