.group {
  background: linear-gradient(0deg, rgba(55,119,193,1) 0%, rgba(43,98,156,1) 100%);
  color: white;
  height: 100%;
  min-height: 93vh;
  font-size: 4em;  
  padding-bottom: 2em;

  a {
    color: rgba(255, 255, 255, 0.863);
  }

  &-card {
    display: flex;
    align-items: center;
    width: 80%;

    &__icon-div {
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      border: 4px solid rgba(255, 255, 255, 0.774);
      margin-right: 0.8em;
    }

    &__text-div {
      width: 85%;
      border-bottom: 1px solid white;
      line-height: 3em;
    }
  }
}

.buttons {
  font-size: 0.8em;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  
  a {
    display: inline-block;
    padding: 0 1em 0 1em;
  }

  .edit-button {
    background-color: #5fb523;
  }

  .delete-button {
    background-color:  rgb(194, 36, 36);
  }
}